	
<h3>Hi!</h3>

<p>Welcome to DashBoard.</p>

<br><br><hr>
<div id='create'></div>
<script>

webix.ui({
  view:"button",
  container:'create',
  width:200,
  label:'Generate DB',
  click:function(){

   webix.modalbox({
    title:"Confirmation",
    buttons:["Yes", "No"],
    text:"Attention!! now all your setting will be removed(playlist, gates ...)<br> all your files will be saved. Are you shure you want to reset setting?",
    width:500,
    callback: function(result){
        switch(result){
        case "0": 
             webix.ajax().post('/createdb/create');
            break;
        case "1":
            //statement
            break;
        }
    }
});
  }
  
})

</script>