
<div id='gates-container'></div>
<div id='add_to_list'></div>

<script>

webix.i18n.parseFormat = "%c";
webix.i18n.setLocale();

var toolbar = {
	view:"toolbar",
	cols:[
		{ view:"button", value:"UP", width:50, click:function(){
				$$('gates').refresh();
			var item1= $$("gates").getSelectedItem();
			var id_item2=$$("gates").getPrevId(item1.id,1);
			var item2=$$("gates").getItem(id_item2);
			var aux=item1.sort;
			item1.sort=item2.sort;
			item2.sort=aux;

			$$("gates").moveUp(item1.id,1);
				var data = $$("gates").serialize();
			for (i=0; i<data.length; i++){
		   webix.ajax().put("/playlist/data" ,data[i]);
		   }
		}},
			{ view:"button", value:"Down", width:50, click:function(){
					$$('gates').refresh();
		var item1= $$("gates").getSelectedItem();
			var id_item2=$$("gates").getNextId(item1.id,1);
			var item2=$$("gates").getItem(id_item2);
			var aux=item1.sort;
			item1.sort=item2.sort;
			item2.sort=aux;
			$$("gates").moveDown(item1.id,1);
				var data = $$("gates").serialize();
			for (i=0; i<data.length; i++){
		   webix.ajax().put("/playlist/data/"+data[i].id+"" ,data[i]);
		   }
			
		}},
		{
     view:"button",
    label:'Add media to PlayList',
    click:function(){
		$$("win3").show();
//var left = (screen.width/2)-(700/2);
//var top = (screen.height/2)-(500/2);
//return window.open('/Filemanager/', 'title', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+700+', height='+500+', top='+top+', left='+left);
                            }
        },
		{ view:"button", value:"Add URL to PlayLis", width:170, click:function(){

			$$("gates").add({timer:10,checked:true,})

				var currentID =$$('gates').getLastId();
			var previousID=$$('gates').getPrevId(currentID,1);
			var current=$$('gates').getItem(currentID);
			var previous=$$('gates').getItem(previousID);
			if (!previous){ current.sort=1}
			else {current.sort=previous.sort+1}

			if (!previous){ current.id=1}
			else {current.id=previous.id+1}
			var data = $$("gates").serialize();
			for (i=0; i<data.length; i++){
		   webix.ajax().put("/playlist/data/"+data[i].id+"" ,data[i]);
		   }
		    $$('gates').load('/playlists/data');

		
		}},
		{ view:"button", value:"Delete Row", width:120, click:function(){
			var rows = $$("gates").getSelectedId(true);
			if (rows.length)
				$$("gates").remove(rows);

		}},
	]
};

var gates = {
	view:"datatable", id:"gates", select:true,
	autoheight:true, scroll:false,
	editable:true,
	editaction: "dblclick",
	columns:[

	{ id:"src", header:"src" ,width:400,editor:'text'},
	{ id:"timer", header:"Timer(sec)" , editor:'text',format:function(value){ 
            return webix.i18n.numberFormat(value);
        },},
		{id:"checked", header:"Active", template:"{common.checkbox()}"},
			{id:"sort", header:"Sort", },

	],
	url:"/playlist/data",
	save:"rest->/playlist/data"
};

webix.ui({
	width:730, type:"space",
	container:"gates-container",
	rows:[
		toolbar, gates
	]
});

webix.ui({
  view:"window",
  id:"win3",
  height:660,
  width:760, 
  left:450, top:50,
  head:{
    view:"toolbar", cols:[
	{},
	{},
      { view:"icon", icon:"times", align:'right', width: 50,  click:function()
	  {$$('win3').hide();
	   $$('gates').load('/playlist/data');}}
    ]
  }
  ,
  body:{
   
    view:"iframe", src:"/Filemanager/"
   //template:"<iframe src='/filemanager/'></iframe>"

  }
})
  $$("gates").attachEvent("onAfterLoad", function(){


		var sort=1;
			var data = $$("gates").serialize();
			for (i=0; i<data.length; i++){
				data[i].sort=sort;
				sort=sort+1;
		   webix.ajax().put("/playlist/data" ,data[i]);
		   }
		   		$$('gates').refresh();
	
   });

</script>